
<div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
        <ng-template #header>
            <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
        </ng-template>
        <ng-template #title> Ejemplo 1 de señales </ng-template>
        <ng-template #subtitle> conteos simples </ng-template>
        <p>
                conteo con senal: {{ conteoConSenal() }}
        </p>
        <p>
            conteo sin senal : {{ conteoSinSenal }}
        </p>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <p-button label="incrementar" (click)="incrementarConteo()" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
                <p-button label="Decrementar" (click)="DecrementarConteo()" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>