
<div class="mb-4 p-8 flex items-center justify-center">
    <p-card [style]="{ width: '25rem', overflow: 'hidden' }">

        <ng-template #title> Ejemplo 5 de señales </ng-template>
        <ng-template #subtitle> calculadora simple de iva </ng-template>
            <p></p>
          <p-floatlabel>
            <input 
                pInputText
                id="precio"
                type="number"
                autocomplete="off"
                min="0"
                oninput="validity.valid (value = 0)"
                [value]="precio()"
                (input)="onInputUpdate($event)"
            />
            <label for="precio">Precio</label>
          </p-floatlabel>
          <p></p>

          <input 
          pInputText
          id="iva"
          type="number"
          autocomplete="off"
          min="0" 
          [value]="IVAEnPorcentaje()"
          (input)="onInputIvaUpdate($event)"
      />
      <label for="iva">IVA(%)</label>
    </p-floatlabel>
    <div>
        
    </div>
    </p-card>
</div>